<div class="container-fluids w-100">
    <div class="main col-lg-10">
        <div class="header">
            <div class="header-menu d-flex">
                <div class="btn-notifications">
                    <button class="btn-notifications"><i class="fas fa-bell"></i>
                       <!--<ul id="notifications">
                          <h5>Notificaciones</h5>
                          <p>Ver todos</p>
                      </ul-->
                    </button>
                </div>
                <div class="btn-logout">
                    <button><i class="fas fa-power-off"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>