<div class="col-lg-3 p-0">
  <aside>
      <div class="side-nav wr-0">
          <nav id="side">
              <div class="nav-header">
                  <img src="../img/logo.png" class="main-logo" alt="">
              </div>
              <div class="profile">
                  <img class="profile-img" src="../img/brock.png" alt="">
                  <p id="admin">Administrador</p>
              </div>
              <div class="left-menu">
                  <nav class="sidebar">
                      <ul class="nav flex-column">
                          <li class="nav-item">
                              <a class="nav-link active" href="#" onclick="loadContents('.container-wrapper','../views/goFeel.html')">Dashboard</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#" onclick="loadContents('.container-wrapper','../views/brokrs.html')">Brokrs</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#" onclick="loadContents('.container-wrapper','../views/propiedades.html')">Propiedades</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#" onclick="loadContents('.container-wrapper','../views/apoyo.html')">Apoyo</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#" onclick="loadContents('.container-wrapper','../views/terceros.html')">Terceros</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#" onclick="loadContents('.container-wrapper','../views/notificaciones.html')">Notificaciones</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#" onclick="loadContents('.container-wrapper','../views/infoGobrokr.html')">Info GoBrkr</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#" onclick="loadContents('.container-wrapper','../views/sos.html')">SOS</a>
                          </li>
                      </ul>
                  </nav>
              </div>
          </nav>
      </div>
  </aside>
</div>
