<div class="container-fluid">
    <div class="main-aside col-lg-2">
        <div class="side-nav wr-0">
            <nav id="side">
                <div class="nav-header">
                    <img [src]="'/assets/img/logo/logo.png'" class="main-logo" alt="">
                </div>
                <div class="profile">
                    <img class="profile-img" [src]="'/assets/img/brock.png'" alt="">
                    <p id="admin">Administrador</p>
                </div>
                <div class="left-menu">
                    <nav class="sidebar">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a [routerLink]="['dashboard']" class="nav-link active">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['brokrs']" class="nav-link">Brokrs</a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['propiedades']" class="nav-link">Propiedades</a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['apoyo']" class="nav-link">Apoyo</a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['terceros']" class="nav-link">Terceros</a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['notificaciones']" class="nav-link">Notificaciones</a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['info-gobrokr']" class="nav-link">Info GoBrkr</a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['sos']" class="nav-link">SOS</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    </div>