<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 main">
                    <div class="section-1 border p-3">
                        <h1 id="header-title">Dashboard</h1>
                        <ul class="list-group">
                            <li class="list-group-item">Home</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                    <div class="control-wrapper p-0 d-flex align-items-stretch">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Agregar propiedad
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h2>Agregar propiedad</h2>
                                        <p>Busqueda de propiedad</p>
                                        <p>Ingresa la información de tu Propiedad y selecciona las que deseas agregar al home</p>
                                        <input type="text" name="" id="modal-text">
                                        <p>No se encuentran resultados...</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrapper border shadow-sm p-3">
                        <div class="table-header">
                            <h5 class="text-gofeel card-title pl-2 col-sm-4">Editor de Home</h5>
                            <p class="paragraph-gofeel">Selecciona las propiedades que aparecen en la sección de Popiedades populares en el home. Busca y selecciona las propiedades que deseas tener al prinicipio de la lista
                            </p>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="title" scope="col">ORDEN</th>
                                    <th class="title" scope="col">OPERACIÓN</th>
                                    <th class="title" scope="col">DIRECCIÓN</th>
                                    <th class="title" scope="col">VALOR</th>
                                    <th class="title" scope="col">TIPO</th>
                                    <th class="title" scope="col">FECHA</th>
                                    <th class="title" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="info" scope="row">2</th>
                                    <td class="info">Venta</td>
                                    <td class="info">Ciudad de México Iztapalapa, San Sebastián Tecoloxtitla CP09520, Los Ángeles #83</td>
                                    <td class="info">150,000 MXN</td>
                                    <td class="info">Casa</td>
                                    <td class="info">2019-03-12T11:49:26.000Z</td>
                                    <td class="info"><a href="#"><button class="btn btn-form">Ver</button></a></td>
                                </tr>
                                <tr>
                                    <th class="info" scope="row">1</th>
                                    <td class="info">Venta</td>
                                    <td class="info">Ciudad de México Miguel Hidalgo, Verónica Anzures CP11300, Bahía Magdalena #138</td>
                                    <td class="info">2,000,000 MXN</td>
                                    <td class="info">Departamento</td>
                                    <td class="info">2019-03-03T22:26:49.000Z</td>
                                    <td class="info"><a href="#"><button class="btn btn-form">Ver</button></a></td>
                                </tr>
                                <tr>
                                    <th class="info" scope="row">3</th>
                                    <td class="info">Venta</td>
                                    <td class="info">Ciudad de México Miguel Hidalgo, Verónica Anzures CP11300, Bahía de Ballenas #120</td>
                                    <td class="info">7,000,000 MXN</td>
                                    <td class="info">Departamento</td>
                                    <td class="info">2019-03-03T21:27:27.000Z</td>
                                    <td class="info"><a href="#"><button class="btn btn-form">Ver</button></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="footer">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">Siguiente</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>