<div class="login">

  <div class="signin">
    <div class="l ogo">
      <img src="assets/img/logo-gobrokr.png" alt="goBrokr">
    </div>
    
    <form>
      <h1>BIENVENIDO</h1>
      <p>Inicia sesión para ingresar a tu cuenta</p>
      <div class="form-group">
        <label for="exampleInputEmail1" class="email">Correo</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <a href="#">¿Olvisaste tu contraseña?</a>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Entrar</button>
      </div>
    </form>
<a [routerLink]="['home']">vamos a home</a>
  </div>
  <div class="image-login"></div>
</div>