<div class="row">
  <div class="col-md-12">
      <div class="table-wrapper border shadow-sm p-3">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th class="title1" scope="col">NOMBRE</th>
                      <th class="title" scope="col">CORREO</th>
                      <th class="title" scope="col">TELÉFONO</th>
                      <th class="title" scope="col">SERVICIO</th>
                      <th class="title" scope="col">FECHA</th>
                      <th class="title" scope="col"></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let notificaciones of httpResultJuswho | paginate: { itemsPerPage: 39, currentPage: p }">
                      <th class="info" scope="row">{{juswho.name}}</th>
                      <td class="info">{{juswho.email}}</td>
                      <td class="info">{{juswho.phone}}</td>
                      <td class="info">{{juswho.createdAt}}</td>
                      <!-- <td class="info"><i class="fas fa-trash btnEliminar" onclick=""></i> </td> -->
                  </tr>
              </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
  </div>
</div>
