<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 main">
                    <div class="section-1 border p-3">
                        <h1 id="header-title">Documentos</h1>
                        <h5 class="card-title col-sm-4 d-inline">DOCS</h5>
                        <p class="d-inline">Notaria</p>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                    <div class="control-wrapper p-0 d-flex align-items-stretch">
                        <!-- <div class="btn btn-dark p-4">Subir documento</div> -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Subir documento
                                </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h2>Nuevo documento</h2>
                                        <p>Agregar documento</p>
                                        <p>Formatos: WORD Y PDF</p>
                                        <input type="text" name="" id="modal-text">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrapper border shadow-sm p-3">
                        <div class="table-header">
                            <h5 class="text-gofeel col-sm-4">Documentos de apoyo</h5>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="title" scope="col">NOMBRE DEL DOCUMENTO</th>
                                    <th class="title" scope="col">FORMATOS</th>
                                    <th class="title" scope="col">FECHA</th>
                                    <th class="title" scope="col"></th>
                                    <th class="title" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="info" scope="row">Compra-Venta(1).pdf</th>
                                    <td class="info">PDF</td>
                                    <td class="info">2019-02-28</td>
                                    <td class="info"><a href="#"><button class="btn btn-form">Ver</button></a></td>
                                    <td class="info"><i class="fas fa-trash btnEliminar" onclick=""></i> </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="footer">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">Anterior
                                            <!-- <span aria-hidden="true">&laquo;</span> -->
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">Siguiente
                                            <!-- <span aria-hidden="true">&raquo;</span> -->
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>